html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #c63232;
}

.quote {
  font-family: 'Petit Formal Script', cursive;
  color: white;
}

a:hover {
  color: #fff;
}

.first-section {
  color: white;
}

.second-section {
  color: white;
}

.third-section {
  color: white;
  font-family: 'Petit Formal Script', cursive;
}

.fourth-section {
  color: white;
}

.stand-alone {
  background-color: #464646;
  border-width: thick;
  border-style: solid;
  border-radius: 0 75px 0 75px;
  margin: 0 auto;
}

.stand-alone:hover {
  background-color: #898686;
}

.quote:hover {
  color: #c63232;
}

.stand-alone-two {
  background-color: #464646;
  border-width: thick;
  border-style: solid;
  border-radius: 75px 0 75px 0;
  margin: 0 auto;
}

.stand-alone-two:hover {
  background-color: #898686;
}

.stand-alone-three {
  color: #464646;
}

.stand-alone-five {
  background-color: #898686;
  border-radius: 75px;
  color: #464646;
}

@media only screen and (min-width: 38em) {

  .stand-alone-three {
    text-align: center;
    padding-bottom: 5rem;
  }

  .stand-alone-four {
    text-align: center;
    padding-top: 5rem;
  }

  .first-section {
    padding-bottom: 1rem;
  }

  .second-section {
    border-width: thick;
    border-style: dotted;
    margin: 0 auto;
  }

  .third-section {
    padding-top: 1rem;
  }

  .stand-alone-three {
    padding-bottom: 1rem;
  }

  .stand-alone-four {
    padding-top: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  body {
    background-color: #464646;
  }

  .quote {
    color: white;
  }

  .first-section {
    color: white;
    margin: 0 auto;
  }

  .second-section {
    color: white;
    background-color: black;
    margin: 0 auto;
  }

  .third-section {
    color: white;
    margin: 0 auto;
  }

  .fourth-section {
    margin: 0 auto;
  }

  .stand-alone {
    background-color: #c63232;
  }

  .stand-alone-two {
    background-color: #c63232;
  }

  .stand-alone-three {
    color: #c63232;
  }

  .stand-alone-five {
    margin-top: 1rem;
  }

  .stand-alone:hover {
    background-color: #fff;
  }

  .stand-alone-two:hover {
    background-color: #fff;
  }

  bold:hover{
    color: #c63232;
  }

  a:hover {
    color: #898686;
  }

}
